@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

h1,
h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  z-index: 2;
}

h1 {
  font-size: 6.5vw;
  color: #141204;
  text-shadow: 2px 2px 2px #141204;
}

h2 {
  z-index: 2;
  font-size: 3.25vw;
  color: #af1b3f;
  text-shadow: 2px 2px 2px #af1b3f;
}

#cat {
  max-width: 30%;
  height: auto;
  z-index: 2;
}

#brick {
  position: absolute;
  z-index: 1;
  height: 35vw;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
